# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode build and test outputs
build/
DerivedData/
*.xcarchive
*.xcresult
*.dSYM
*.dSYM.zip
*.ipa

# Swift Package Manager
.build/
.swiftpm/
Packages/
